body {
	font-family: sans-serif;
	color: hsl(230, 80%, 8%);
	background-color:  hsla(229, 89%, 93%, 0.322);;
}
#header {
	background: #4b7778;
	display: flex;
	flex-direction: row;
  	justify-content: space-between;
}

#header a, li {
	list-style: none;
	text-decoration: none;
	color: white;	
	font-size: 120%;
	font-weight: bold;
	display: inline-flex;
	justify-content: space-between;
	padding: 0px;
	margin-right:13px;
}

nav li a:hover {
  transform: scale(1.1);
}

.logo {
	max-width: 7rem;
    min-width: .5rem;
    margin: 0px;
    padding: 3px;
}

footer {
	background: #4b7778;
	color: white;
	display: flex;
	margin-top: 10px;
}

.producto {
	max-height: 10rem;
	min-height: 2rem;
}

table {
	border-collapse: separate;
  	border-spacing: 30px 5px;
}

form {
	position: relative;
	width  : auto;
	height : auto;
	margin :  auto;
	background: hsla(211, 40%, 25%, 0.144);
}


button {
	margin: 1rem;
}

p,h1,h2,h3,h4,h5 {
	padding: .5rem;
	text-align: center;
}

#menu {
	align-items: center
}
 

 
.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.carousel, .carousel-inner > .carousel-item > img {
	height: 450px;
	width: 800px;
}
#contenedor-galeria {
	position: relative;
	margin-left: 20%;
	margin-right: auto;
}
#contenedor-iframe{
	position: relative;
	margin-left: 25rem;
}

.link{
	text-decoration: none;
	color: white;	
}